* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Montserrat' , sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

.main-wrapper {
  height: 100vh;
  width: 100%;
}

main {
  height: calc(100% - 70px);
}

.left-bar {
  float: left;
  width: 200px;
  height: 100%;
  background-color: black;
  color: grey;
  font-weight: 600;
  padding: 15px;
}

.left-bar a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: white;
}

.name img {
  background-color: grey;
  border-radius: 50%;
}

.left-bar img {
  height: 25px;
}

.logo img {
  height: 50px;
  margin-bottom: 10%;
}

.first-menu {
  line-height: 35px;
}

.playlist-menu i {
  font-size: 2em;
}

.account {
 margin-top: 20%;
}

.app {
  border-bottom: .5px solid grey;
  padding-bottom: 3%;
}

.name span {
  color: white;
  font-size: 1.4em;
}

.name {
  padding-top: 5%;
}

.playlist-menu p {
  padding-top: 5%;
}

.new-playlist span i {
  vertical-align: middle;
}

.nomi-playlist li {
  padding-top: 3%;
  padding-bottom: 3%;
}

.nomi-playlist li:first-child {
  padding-top: 5%;
}

/* main {
  width: 100%;
  height: calc( 100% - 100px )
}

footer {
  height: 100px;
  width: 100%;
} */

@media screen and (max-width: 768px) {
  .left-bar {
    float: left;
    width: 50px;
    height: 100%;
    background-color: black;
    color: grey;
    font-weight: 600;
    padding: 10px;
  }
}
