/* GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Montserrat' , sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

ul {
  padding-left: 0;
}

/* MAIN */
.main-wrapper {
  height: 100vh;
  width: 100%;
}

main {
  height: calc( 100vh - 70px );
}

.left-bar {
  float: left;
  width: 200px;
  height: 100%;
  background-color: black;
  color: grey;
  font-weight: 600;
  padding: 15px;
  overflow: hidden; /* per nascondere il contenuto che sborda sotto*/
}

.left-bar a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: white;
}

.left-bar img {
  height: 20px;
}

.logo img {
  height: 50px;
  margin-bottom: 10%;
}

.first-menu {
  line-height: 25px;
}

.playlist-menu i {
  font-size: 2.5em;
}

 .playlist-menu {
  height: calc(100vh - 305px); /*per fissare "account" al bordo in basso senza usare il fix*/
  overflow: auto;  /*per far apparre la scrollbar*/
}

.app {
  border-bottom: .5px solid grey;
  padding-bottom: 3%;
}

.name span {
  color: white;
  font-size: 1.4em;
}

.name {
  padding-top: 5%;
  margin-left: 1.5%;
}

.name img {
  background-color: grey;
  border-radius: 50%;
}

.playlist-menu p {
  padding-top: 5%;
}

.new-playlist span i {
  vertical-align: middle;
}

.nomi-playlist li {
  padding-top: 3%;
  padding-bottom: 3%;
}

.nomi-playlist li:first-child {
  padding-top: 5%;
}

.app-content {
  background-color: #0e294b;
  height: calc(100vh - 70px);
}

.top-bar {
  width: calc(100% - 200px);
  height: 85px;
  background-color: black;
  opacity: 0.8;
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-bar a {
 font-size: 1.3em;
 margin-right: 2%;
 padding: 1% 2%;
 border-radius: 50px;
 border: 0.6px solid white;
 color: white;
}

/* FOOTER */
footer {
  height: 70px;
  width: 100%;
  background-color: grey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.left-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}

.left-block h5 {
  color: white;
  font-weight: 600;
  margin: 0;
}

.left-block-text {
  vertical-align: middle;
  margin-left: 8%;
  margin-right: 20%;
}

.left-block a {
  color: #333;
  margin: 3.5%;
}

.left-block i {
  font-size: 1.4em;
}

.left-block img {
  height: 45px;
}

.central-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control i {
  font-size: 1.7em;
  color: white;
}

.control {
  color: white;
}

.right-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
}

.right-block i {
  font-size: 1.25em;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .left-bar {
    float: left;
    width: 50px;
    height: 100%;
    background-color: black;
    color: grey;
    font-weight: 600;
    padding: 10px;
  }

  .logo-small {
    padding-bottom: 35%;
  }

  .account {
    line-height: 30px;
  }

  .account img:last-child {
    margin-left: 8%;
  }

  .navigation.visible-xs-block {
    height: calc(100% - 60px);
    min-height: 120px;
  }

  .top-bar {
    width: calc(100% - 50px);
    height: 85px;
    background-color: black;
    opacity: 0.8;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}
